@{
    ViewData["Title"] = "Trang chủ";
}

@section Scripts {
    <script src="~/js/home.js"></script>
}

<h2 style="text-align: center;">Trang chủ</h2>
<ul id="list-user"></ul>


<table id="list-users" class="table">
  <thead>
    <tr>
      <th scope="col">Họ và tên</th>
      <th scope="col">CCCD</th>
      <th scope="col">Email</th>
      <th scope="col">Số dư</th>
    </tr>
  </thead>
  <tbody id="list-users-body">